.service-page{
  height: 100%;
  width: 100%;
  align-content: center;
  
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;

}

#service-card {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.card-image{
  background-color:  #f4efde !important;
  height: 20vh;
}

