.details, .list{
    max-width: 100%;
    max-height: 100%;
    padding: 16px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    color: #40082a;
    font-family: "Alegreya", serif;
}

.details .row, .list .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.details-left{
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-align: justify;
}

#fullname{
    font-family: "Open-Sans", sans-serif !important;
}

.details-right{
    max-width: 60%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.profile-img-div{
    height: 160px;
}

.profile-img{
    max-height: 100%;
    max-width: 100%;
}

 .list-items{
    /* height: 180px; */
    max-width: 100%;
    max-height: 100%;
    background-size: cover ;
    background-repeat: no-repeat;
    margin: 8px;
    padding-top: 5%; 
} 

 .list-left{
    max-width: 40%;
    text-align: center;
    text-align: justify;
}

 .list-right{
    max-width: 60%;
    margin: auto;
    text-align: center;
    
}

.list-right .row{
    justify-content: center;
    align-items: center;
}

nav.page-nums{
    float: right;
    margin-right: 10%;
    padding-top: 3%;
}

.page-link{
    background-color: #f4efde;
    color: #9d0c65;
}

.page-item.active .page-link {
    background-color: #b81378;
    border-color: #f4efde;
}

.page-item.disabled .page-link {
    color: #9d0c65;
    pointer-events: none;
    cursor: auto;
    background-color: #f4efde;
    border-color: #f4efde;
}

.filter-link, .list-items a{
    color:#40082a;
}

.ant-empty-img-default-path-5 {
    fill: #c90075;
}

.ant-empty-img-default-ellipse {
    fill-opacity: 0.8;
    fill: #f4f0dd;
}

.empty{
    margin: 20px;
}