#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../img/o-AFRICAN-AMERICAN-PATIENT-facebook.jpg");
  /* background-position:top; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 28rem;
  padding-bottom: 10px;
}

div#hero-cto {
  margin-left: 0px !important;
  background-color: #f6f2d3;
  margin-top: 2.22rem;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-cto-content p {
  font-family: "Open Sans", sans-serif;
  color: #40082a;
  font-size: 18px !important;
  margin-right: 8vw;
  transition: color 0.25s;
}

#hero-cto-content a {
  color: #fff;
  font-family: "Spartan", sans-serif !important;
  background-color: #b81378;
}

@media only screen and (max-width: 560px) {
  #hero {
    background-image: url(../../img/hero-img-mobile.jpg);
  }
}

@media only screen and (min-width: 768) {
  #hero-cto-content p {
    font-size: 18px !important;
    margin-right: 8vw;
    transition: color 0.25s;
    /*margin-top: 1rem !important;*/
  }

  #hero-cto{
    height: 3.8rem !important;
  }
}
