.footer-p{
    text-align: center;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
    color:#40082a;
    font-family: 'Alegreya', serif !important;
}

#footer {
    height: 10px;
    border-top: 5px solid #d4d4d4;
    position: relative;;
    bottom:0;
    width:100%;
    margin-top: 10px;
 }