#level-one-div {
  height: 35px;
}

.level-one-p {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#level-two-div {
  height: 100% !important;
  background-color: #9d0c65 !important;
  color: #d9d9d9;
  width: 100% !important;
  margin: 0px !important;
}

.cn {
  margin-bottom: 0px !important;
}

.cn,
.num {
  font-weight: 600;
  font-family: "Alegreya", serif !important;
}

.left {
  width: 40% !important;
}

.right {
  width: 60% !important;
  z-index: 2;
  background-color: #b81378 !important;
  padding-top: 10px;
}

.right p {
  padding-top: 16px;
  text-align: center;
  font-size: 12px;
  color: #fff !important;
  font-family: "Spartan", sans-serif !important;
}

#level-three-div {
  margin-top: -15px;
  height: 100% !important;
  background-color: #b81378 !important;
  color: #fff !important;
  border-top: 1px solid #fff !important;
}

#level-three-div a {
  color: #fff !important;
}

.navbar-right {
  text-align: center !important;
}

.navbar-brand {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

#level-one-div,
#level-two-div,
#level-three-div {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

/* big screen */
.nav-item {
  text-align: end;
  font-family: "Alegreya", serif !important;
}

@media only screen and (max-width: 480px) {
  .cn,
  .num {
    font-size: 12px !important;
  }

  .level-one-p {
    font-size: 10px;
  }

  .navbar-right {
    float: right;
  }
}

@media only screen and (max-width: 640px) {
  .navbar-right {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .left {
    width: 60% !important;
  }

  .right {
    width: 20% !important;
  }

  .right p {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #fff !important;
    font-family: "Spartan", sans-serif !important;
  }

  .navbar-brand {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 25px;
    font-weight: 600;
  }

  .cn,
  .num {
    font-weight: 600;
    font-family: "Alegreya", serif !important;
  }

  .nav-item {
    font-size: 16px;
    margin-left: 80px !important;
  }
}
