.contact {
    background-color: #f8f8f8;
    padding: 16px !important;
    min-height: 28rem;
    max-width: 100%;
}

.contact-info {
    font-family: 'Alegreya', serif !important;
    color: #491032 !important;
    max-width: 55% !important;
    padding-top: 4%;
    padding-right: 16px;
    width: 100%;
}

.contact-form {
    max-width: 45% !important;
    font-family: 'Alegreya', serif !important;
    color: #491032 !important;
    width: 100%;
    padding-top: 4%;
    padding-left: 16px;
}

.contact .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    /* height: 100%; */
}

.contact-form h3{
    text-align: center;
    padding-bottom: 4%;
}

.form .col-md-5{
    height: 100%;
}

.form .col-md-7{
    max-height: 100%;
}

.form textarea{
    height: 100%;
}

.form-container{
    border: 8px solid #f0f0f0;
    background-color: #fff;;
    padding: 8%;
}

.form input, .form textarea{
    background-color: #f5f5f5;
    border-radius: 0px !important;
    border-color: #fff !important;
}

.info .row {
    margin-left: -15px !important;
}

.last-row .btn{
    background-color: #b81378;
    color: #fff;
    border-radius: 0px;
    width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 769px){

    .contact{
        text-align: center !important;
    }

    .contact-form{
        padding-left: 0px !important;
    }

    .form .col-md-5, .form .col-md-7{
        max-width: 100% !important;
    }
    
}
@media only screen and (max-width: 480px){
    .contact-info, .contact-form{
        max-width: 100% !important;
    }

    .contact{
        text-align: center !important;
    }

    .contact-form{
        padding-left: 0px !important;
    }
    
}


