.register-page{
    padding: 16px !important;
    background-color: #f4f4f4;
    max-width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
    height: 100%;
}

.r-form{
    max-width: 70% !important;
}

.txtbox, .selectbox{
 padding-bottom: 15px !important;
}

.btn-primary{
    background-color:#b81378 ;
    border: #fff;
}

.submit-btn {
        
    margin-top: 3%;
    margin-bottom: 3%;
}

input::-webkit-input-placeholder {
color: #d494bb !important;
font-size: 12px !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #d494bb !important; 
  font-size: 12px !important; 
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #d494bb !important;  
  font-size: 12px !important;
}

input:-ms-input-placeholder {
  color: #d494bb !important;  
  font-size: 12px !important;
}

input::placeholder {
  color: #d494bb !important; 
  font-size: 12px !important; 
  text-align: center;
}

textarea::-webkit-input-placeholder {
color: #d494bb !important;
font-size: 12px !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: #d494bb !important;  
    font-size: 12px !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #d494bb !important;  
    font-size: 12px !important;
}

textarea:-ms-input-placeholder {
    color: #d494bb !important;  
    font-size: 12px !important;
}

textarea::placeholder {
    color: #d494bb !important ;  
    font-size: 12px !important;
    text-align: center;
}

.file_upload, .input-group-text, .custom-file-label, .custom-file-label::after {
    font-size: 10px !important;
    color: #d494bb !important ;
 
}

.h-text{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px !important;
    font-weight: 600 !important;
    color:#40082a;
}

.s-image {
    max-width: 30%;
    padding-top: 34px;
    margin-left: auto;
    margin-right: auto;
}

.r-s-image{
    height: 400px;
}

.image{
    /* max-width: 30%; */
    align-content: center;
    max-width:100%;
    max-height:100%;
}

@media only screen and (max-width: 480px){
    .s-image{
        display: none;
    }

    .r-form{
        max-width: 100% !important;
    }
}

@media only screen and (min-width:768px){
    .register-page{
        height: 600px !important;
    }
}